html, body {
    width: 100vw;
    height: 100vh;
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #ffffff;
}

#view {
    margin-top: 30px;
}

#mazeContainer {
    top: 15px;
    opacity: 0;
    display:inline-block;
    margin: auto;
    border-radius: 10px;
}
#mazeContainer #mazeCanvas {
    margin: 0;
    display: block;
    border: 2px solid #000000;
    height: 750px;
}

input, select {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.30);
    height: 45px;
    width: 150px;
    padding: 10px;
    border: none;
    color: white;
    display: inline-block;
    font-size: 15px;
    text-align: center;
    appearance: none;
}

input:hover, select:hover {
    background-color: rgba(0, 0, 0, 0.70);
}

input:active, select:active {
    background-color: black;
}

.difficultySetting {
    display: inline-block;
}

.difficultySetting select {
    appearance: none;
    background-repeat: no-repeat;
    background-position: 125px center;
}

#messageContainer {
    visibility: hidden;
    color: white;
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.817);
    z-index: 1;
}

#message {
    width: 300px;
    height: 300px;
    position: fixed;
    margin: auto;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -150px;
}

#container {
    text-align: center;
    height:auto;
    width:auto;
    margin: auto;
}

#container #menu{
    margin:auto;
    padding: 10px;
    height: 65px;
    box-sizing: border-box;
}

#container #menu h1 {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 3.2rem;
}

#container #view {
    position: absolute;
    top:65px;
    bottom:0;
    left:0;
    right:0;
    width: 100%;
    height: auto;
}

.border {
    border: 10px solid black;
    border-radius: 10px;
}

#instructions {
    margin-top: 775px;
}
/* for smaller devices */
@media only screen and (max-width:400px) {
    input, select {
        width: 120px;
    }
}